/********** color scheme **********/

[data-md-color-scheme="mkmodel"] {
    --md-primary-fg-color:        #20d1b4;
    --md-primary-fg-color--light: #16e6f5;
    --md-primary-fg-color--dark:  #4c6af0;
}

/********** ul-li **********/
:root {
    --ul1-margin-left: 25px;
    --ul1-margin-top: 6px;
    --ul1-line-height: 24px;
    --ul2-margin-left: 37px;
    --ul2-margin-top: 0px;
    --ul2-line-height: 24px;
}

.md-typeset ul {
    margin-top:       -2px;
    margin-bottom:    10px;
    line-height:      var(--ul1-line-height);
}

.md-typeset ul li {
    margin-left:      var(--ul1-margin-left);
    margin-top:       var(--ul1-margin-top);
} 

.md-typeset ul li ul {
    margin-top:       10px;
    margin-bottom:    10px;
    line-height:      var(--ul2-line-height);
    list-style-type:  circle;
}

.md-typeset ul li ul li {
    margin-left:      var(--ul2-margin-left);
    margin-top:       var(--ul2-margin-top);
}

/********** tabbed label of codes **********/
.md-typeset .tabbed-set > label {
    font-family: msf;
}

/********** top nav **********/
div.md-container nav.md-tabs {
    font-family: cycn-eng;
}


/*********************************************************************************/
/*************************** FONT CLASS BLOCK: generalcy *************************/
/*********************************************************************************/

/*********** set ul & p ***********/
.generalcy {
    font-family: cycn;
}

/* :( */
.generalcy p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.generalcy p, .generalcy ul {
    font-size: 15px;
    letter-spacing: 0.44px;
}

.generalcy ul ul {
    font-size: 99%;
}

/*********** title ***********/
.generalcy h1,
.generalcy h2,
.generalcy h3,
.generalcy h4,
.generalcy h5,
.generalcy h6 {
    font-family: cycn, cycn-eng;
}

.generalcy h3 {
    font-size: 1.04rem;
}

.generalcy h4, .generalcy h3, .generalcy h2 {
    word-spacing: 4px;
}


/*********** Table Of Contents On Both Sides ***********/
/* left contents */
div.md-sidebar.md-sidebar--primary ul.md-nav__list {
    font-family: cycn-eng;
    font-size: 0.672rem;
}

/* right contents */
div.md-sidebar.md-sidebar--secondary ul.md-nav__list {
    font-family: cycn, cycn-eng;
    font-size: 0.684rem;
}


/*********** Font Blocks ***********/
/* font size of general English words */
.generalcy cy {
	font-family: cycn-eng;
    font-size: 0.677rem;
    /* word-wrap: break-word;
    overflow: hidden; */
    word-break: break-all;
}

/* font size of mathematical English words */
.generalcy msf {
    font-family: msf;
    word-wrap: break-word;
    overflow: hidden;
}

.generalcy mag {
    font-family: m;
    font-size: 0.788rem;
    word-wrap: break-word;
    overflow: hidden;
}
