/* default table */

:root {
    --deep-color-simple-table-border: #666666;
    --simple-table-font-size: 0.7rem;
}

.md-typeset__table table:not([class]) {
    font-family: Consolas-inside, "思源黑体 CN"; /* 英文字体写在前, 中英文分离 */
	border-collapse: collapse; /* 是否将表格两边折叠为一条线 */
	margin-left: 0.05rem;        /* 表格整体与左侧的距离 */
    font-size: var(--simple-table-font-size);
    /* important override: */ 
    box-shadow: none;
    display: table;
}

/* general th */
.md-typeset__table table:not([class]) thead th {
    padding: 0.3rem 0.9rem 0.2rem 0.9rem; /* padding: up right down left */
    background-color: #ffffff;
    color: #160303;
	border-top: none;
    border-right: none;
    border-left: 0.05rem solid var(--deep-color-simple-table-border);
    border-bottom: 0.05rem solid var(--deep-color-simple-table-border);
}

/* first th */
.md-typeset__table table:not([class]) thead th.firsthead {
    border-left: none;
    border-top: none;
    border-right: 0.05rem solid var(--deep-color-simple-table-border);
}

/* general td */
.md-typeset__table table:not([class]) tbody td {
    padding: 0.15rem 0.9rem 0.15rem 0.9rem;
    border-left: 0.05rem solid var(--deep-color-simple-table-border);
    border-right: none;
    border-top: none;
    border-bottom: none;
}

/* first-column td */
.md-typeset__table table:not([class]) tbody td.firstcol {
    border-left:none;
    border-bottom:none;
    border-top: 0.05rem solid #ffffff;
    border-right: 0.05rem solid var(--deep-color-simple-table-border);
}